# Hosting Dev Tools
public-hoist-pattern[]=husky
public-hoist-pattern[]=lint-staged
public-hoist-pattern[]=typescript
public-hoist-pattern[]=turbo
public-hoist-pattern[]=*jest*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=@types/*
public-hoist-pattern[]=*defichain*
public-hoist-pattern[]=*react*
public-hoist-pattern[]=*next*
public-hoist-pattern[]=next*
public-hoist-pattern[]=*@waveshq*
public-hoist-pattern[]=*@ordzaar*
public-hoist-pattern[]=*nestjs*
public-hoist-pattern[]=*fastify*
public-hoist-pattern[]=async-mutex
public-hoist-pattern[]=cache-manager
public-hoist-pattern[]=helmet
public-hoist-pattern[]=*@compodoc*
public-hoist-pattern[]=@compodoc/compodoc
public-hoist-pattern[]=@swc*
public-hoist-pattern[]=@tanstack/*
public-hoist-pattern[]=pdfjs-dist

engine-strict=true
auto-install-peers=true
strict-peer-dependencies=false
enable-pre-post-scripts=true
